@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap");

* {
  font-family: "Sora", sans-serif;
}

:root {
  /* Original theme (keep for main site) */
  --background: #ffffffff;
  --secondary: #ffe6c0ff;
  --primary-light: #ffb340ff;
  --primary: #ff9800;
  --primary-dark: #804d00;
  --text: #333333;

  --primary-500: var(--primary-light);
  --primary-600: color-mix(in srgb, var(--primary-light) 80%, var(--primary));
  --primary-700: var(--primary);
  --primary-800: color-mix(in srgb, var(--primary) 80%, var(--primary-dark));
  --primary-900: var(--primary-dark);

  /* New admin-specific variables */
  --admin-background: #f8fafc;
  --admin-surface: #ffffff;
  --admin-primary-light: #93c5fd;
  --admin-primary: #2563eb; /* Tailwind's blue-600 */
  --admin-primary-dark: rgb(29, 78, 216);
  --admin-text: #1e293b;


  --admin-error: #dc2626;
  --admin-success: #16a34a;

}